<form id="register" action="/ri.class/Scripts/EditUser.php" method="POST">
        <fieldset>
            <legend>Zarejestruj się</legend>
            <label> Nazwa urzytkownika : <br>
                    <input name="user" type="text"/>
            </label><br>
            <label> Hasło :<br>
                <input name="pass" type="password"/>
            </label>   
            <br>
            <label> Powtórz hasło :<br>
                <input name="pass2" type="password"/>
            </label>   
            <br>
            <label> Adres e-mail : :<br>
                <input name="email" type="text"/>
            </label>   
            <br>
            
            <input type="submit" name="register" value="Zarejestruj konto"/>
        </fieldset>
    </form>

