
body{
    background: cornflowerblue;
}

#login , #plugins{
    display: table;
    margin: 0 auto;
    
    
}
#login fieldset{
    border: 1px solid black;
    padding: 10px;
}
h1{
    margin: 0 auto;
    font-size: 250%;
}
#pages fieldset{
    border: 1px solid black;
    padding: 10px;
    
}
#editaction{
    display: table;
    margin: 0 auto;
}
#editaction th , td, table{
    border: 1px solid black; 
    padding: 5px;
}
#pages table{
    font-size: 12px;
}
#tabs a{
    outline: none;
}


